#adminregistration-container {
  padding: 36px 60px;

  .mainDiv {
    border: 1px solid var(--e2e2);
    box-shadow: 0px 1px 16px 0px #0000000a;
    max-width: 608px;
    // max-height: calc(100vh - 251px);
    padding: 24px;
    border-radius: 8px;
    overflow: auto;
    background-color: var(--ffff);
    div {
      letter-spacing: 0.02em;
    }
    .refreshBlock {
      position: absolute;
     
      top: 0px;
      left: 87px;


      img{
        width: 24px;
        height: 24px;
      }
    }
    .refreshBlock-a{
      position: absolute;
     
      top: 0px;
      left: 160px;

      img{
        width: 24px;
        height: 24px;
      }
    }
  }
  @media (max-width: 576px) {
    & {
      padding: 24px 12px;
    }
  }
}
