#allskilltemplatelist-container {
  .dropdown-menus {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 100px;
    display: block;
  }
  .dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none; /* Prevent interaction */
  }
  .dropdown-item:last-child {
    border-bottom: none;
  }
  .dropdown-item:hover {
    background-color: #f8f9fa;
    color: var(--fe5c);
    border-radius: 4px;
  }
}
