#studentslist-container {
  padding: 24px 60px;
  .cardBlock {
    padding: 16px;
    border-radius: 12px;
    background: var(--ffff);
    box-shadow: 0px 1px 16px 0px #0000000a;
    hr {
      border: 0.5px solid var(--e2e2);
    }
    .btnBlock {
      background: var(--ffff);
      border: 0.7px solid var(--dada);
      box-shadow: 0px 1px 4px 0px #00000012;
      padding: 4px 10px;
      border-radius: 6px;
    }
    .disable-btn{
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none; 

    }
    .redBlock {
      border: 0.7px solid var(--1515);
    }
    .greenBlock {
      border: 0.7px solid var(--5ea1);
    }
  }

  @media (max-width: 576px) {
    & {
      padding: 24px 12px;
    }
  }
}
