.right-div {
  .last-con-sign-in {
    color: var(--fe5c) !important;
    cursor: pointer;
    margin-top: 23px;
    font-family: "GilroyMedium", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    width: 120px;
  }
}
