.custom-scroll-container {
  overflow-x: auto; /* Enables horizontal scrolling */
  scrollbar-width: thin; /* For Firefox */
}

.log1-table {
  margin-top: 40px;
  width: calc(100vw - 384px);
  background-color: var(--ffff);
  border: 1px solid var(--e2e2);
  border-radius: 12px;
}
.log2-table {
  margin-top: 40px;
  width: calc(100vw - 384px);
  background-color: var(--ffff);
  border: 1px solid var(--e2e2);
  border-radius: 12px;
}
