#avatar-group-container {
  .avatar-group {
    display: flex;
    align-items: center;
    position: relative;
  }
  .avatar {
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -10px;
    object-fit: cover;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}
