.multi-cardtable {
  max-width: 734px;
  margin-top: 36px;
  //margin: 36px;
  overflow-x: auto;
  .desc {
    th {
      font-family: "GilroySemiBold";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #515151 !important;
    }
  }
  .titile-card {
    background-color: #ececec;

    .cardtable-title {
      font-family: "GilroySemiBold";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      padding: 8px 0px 8px 32px;
      color: #515151;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    max-width: 734px;
    background-color: #ffffff;
    th,
    td {
      font-family: "GilroyMedium";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #1a1a1a;
      padding: 8px 20px 8px 32px;
      height: 45px;
    }

    td {
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #ececec;
    }

    tr {
      background-color: #ffffff;
    }
  }
}

.multi-table {
  margin-top: 40px;
  width: calc(100vw - 384px);
  background-color: var(--ffff);
  border: 1px solid var(--e2e2);
  border-radius: 12px;
}
