.parentdashboard-container {
  width: 100%;
  padding-top: 12px;
  overflow: hidden;
  padding: 24px 60px;
  .dashboard-title {
    font-family: "GilroyBold", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--1a1a);
    margin-bottom: 16px;
  }
  .dashboard-title-s {
    font-family: "GilroyBold", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--1a1a);
    margin-bottom: 0px;
  }
  .d-right-div {
    height: 100%;
    margin-top: 56px;
  }
  .w-i {
    width: 100%;
  }
  .t-w {
    width: 100%;
  }
  .loader-w{
    height: calc(100dvh - 200px);

  }
  @media (max-width: 1399.98px) {
    .d-right-div {
      margin-top: 0px;
    }
  }
  @media (max-width: 576px) {
    & {
      padding: 24px 12px;
    }
  }
}
